* {
  box-sizing: border-box;
  margin: 0px;
}
body {
  background-color: #fff7e7;
  font-family: Georgia, "Times New Roman", Times, serif;
  width: 97%;
}
li a button {
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
}
header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 10%;
}
.nav {
  text-decoration: none;
  padding-top: 20px;
}
.nav li {
  display: inline-block;
  text-decoration: none;
}
.nav li a {
  margin: 15px;
  text-decoration: none;
  color: black;
}

header button {
  padding: 7px 7px;
  background-color: #f95c19;
  border: none;
  border-radius: 0px;
  color: rgb(249, 249, 249);
  margin-left: 15px;
}
button:hover {
  background-color: #f95c19;
}
header img {
  margin-right: auto;
}
a {
  padding-top: 20px;
  margin-left: 5px;
}
.section {
  color: #11111d;
  display: flex;
  padding-top: 130px;
  margin-left: 121.96px;
  margin-right: 121.96px;
  padding-bottom: 200px;
}
.section img {
  height: 300px;
  margin-left: 300px;
  width: 700px;
}
.section h1 {
  padding-top: 50px;
  font-size: 2.58rem;
  width: 150%;
  color: #303030;
}
.section h5 {
  margin-top: 10px;
}

.dugme a button {
  margin-top: 40px;
  margin-left: 0px;
  background-color: #f95c19;
  border: none;
  border-radius: 0px;
  color: rgb(249, 249, 249);
  padding: 7px 7px;
}
.dugme i {
  padding-left: 5px;
}
.servisi {
  text-align: center;
  padding-top: 70px;
}
.servisi h5 {
  color: #f95c19;
  font-size: 0.9rem;
  margin-bottom: 8px;
}
.kartice {
  padding: 28.8px 16px;
  display: flex;
  justify-content: center;
  margin-right: 57px;
  margin-left: 57px;
  padding-bottom: 50px;
}
.kartica {
  height: 450px;
  width: 350px;
  background-color: white;
  margin: 11px;
  border: 1px;
  border-radius: 5px;
  text-align: center;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 45px;
  padding-bottom: 13px;
}
.kartica img {
  vertical-align: middle;
  height: 65px;
  max-width: 100%;
}
.kartica h4 {
  margin-top: 28px;
  margin-bottom: 28px;
}
.kartica p {
  color: #2f2e41;
  line-height: 20px;
  text-align: justify;
  font-size: small;
  margin-bottom: 16px;
}
.kartica li {
  text-align: left;
  padding-left: 0px;
  margin-bottom: 8px;
}
.kartica ul {
  padding-left: 0px;
  list-style: none;
  margin-bottom: 55px;
}
.kartica i {
  font-size: 7px;
  padding-right: 8px;
  color: #f95c19;
}

.tapkanje {
  width: 100%;
  height: 30px;
  color: #f95c19;
  background-color: white;
  padding: 6px 12px 6px;
  border-color: #f95c19;
  border-radius: 4px;
  cursor: pointer;
}
.tapkanje:hover {
  color: white;
}
.stiskanje {
  border: 0.5px;
  border-color: #f95c19;
  border-radius: 4px;
}
.bacanje button {
  width: 100%;
  height: 30px;
  color: white;
  background-color: #f95c19;
  padding: 6px 12px 6px;
  border-color: #f95c19;
  border-radius: 4px;
  cursor: pointer;
}
.slicice {
  padding-top: 50px;
  display: inline-block;
  text-align: center;
  width: 15%;
  margin: 25px;
}
.slikice {
  margin-left: 35px;
  margin-right: 10px;
  padding-left: 16px;
  padding-right: 16px;
  width: 100%;
}
.slicice img {
  height: 35px;
  margin-bottom: 10px;
}
.slicice h1 {
  color: #f95c19;
  margin-bottom: 5px;
}
.videoslika {
  padding-top: 120px;
  padding-bottom: 120px;
  margin-left: 10px;
  margin-right: 73px;
  width: 100%;
  text-align: center;
}
.videoslika img {
  height: 450px;
  border: 1px;
  border-radius: 1px;
}
.kunuseljudi {
  padding-top: 20px;
  padding-bottom: 60px;
}
.tekstic {
  text-align: center;
  padding-bottom: 80px;
}
.tekstic h5 {
  padding-bottom: 7px;
  color: #f95c19;
}
.oksford {
  padding-top: 120px;
  padding-bottom: 120px;
}
.placeholder {
  display: flex;
  text-align: center;
  margin-left: 57px;
  padding-left: 16px;
  padding-right: 16px;
  margin-right: 57px;
  justify-content: center;
  width: 98%;
  padding-bottom: 220px;
}
.pot {
  width: 47%;
  padding-top: 40px;
}
.pot form {
  flex-wrap: wrap;
}
.miks {
  width: 27%;
}
.pot input {
  margin-bottom: 10px;
  background-color: transparent;
  width: 55%;
  padding: 7px;
  border: 1px solid #afaebc;
  border-radius: 3px;
}
.pot textarea {
  margin-bottom: 10px;
  background-color: transparent;
  width: 55%;
}
.pot button {
  background-color: #f95c19;
  color: white;
  border: 1px;
  border-radius: 15px;
}
.miks h5 {
  color: #f95c19;
  text-align: justify;
  margin-bottom: 8px;
}
.miks h2 {
  text-align: justify;
  margin-bottom: 6px;
}
.miks p {
  text-align: justify;
  color: #9291a1;
  font-size: 12px;
}
textarea {
  border: 1px solid #afaebc;
  padding: 7px;
  margin-bottom: 50px;
}
.pot button {
  margin-top: 30px;
  width: 55%;
  padding: 6px 12px;
  border-radius: 5px;
}
.pot i {
  color: white;
  margin-left: 5px;
}
.pot input {
  color: #9291a1;
}
.pot button {
  cursor: pointer;
}
.pot button:hover {
  background-color: #2f2e41;
}
.mapa {
  margin-left: 57px;
  margin-right: 57px;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 20px;
}
.naslovcic {
  text-align: center;
}
.naslovcic h5 {
  margin-bottom: 5px;
}
.naslovcic h2 {
  margin-bottom: 70px;
}
.mapica {
  width: 98%;
  height: 425px;
}
.jbg img {
  float: left;
  width: 55%;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  height: auto;
}
.naslovcetina {
  display: inline-block;
  padding-left: 25px;
  border: 1px solid;
  height: 100%;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  background-color: white;
  border-color: transparent;
  width: 43%;
  padding-top: 105px;
  font-size: 18px;
}
.naslovcetina p {
  font-size: 14px;
  margin-bottom: 25px;
}
.naslovcetina i {
  margin-right: 10px;
  color: #ffaf0f;
  font-size: 14px;
}
span {
  padding-left: 27px;
}
.call {
  text-align: center;
  padding-bottom: 120px;
}
.call button {
  background-color: #f95c19;
  color: white;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-color: transparent;
  border-radius: 5px;
}
.call i {
  margin-right: 5px;
}
.pading {
  height: 250px;
  background-color: #222132;
  width: 1446px;
  padding-top: 80px;
  padding-bottom: 230px;
}
.dole {
  display: flex;
  margin-left: 93px;
  margin-right: 93px;
}
.major h5 {
  position: relative;
  left: 300px;
  color: #f95c19;
  font-size: 14px;
  margin-bottom: 15px;
}
.major input {
  position: relative;
  left: 300px;
  width: 450px;
  padding: 6px;
  border-radius: 3px;
  border: 1px solid;
  padding-left: 25px;
  background-color: #2f2e41;
  border-color: rgb(96, 91, 91);
}
.navi h2 {
  color: white;
  font-size: 25px;
}
.navi p {
  color: #c5c5d2;
  font-size: 12px;
}
.major button {
  color: #f95c19;
  position: relative;
  left: 755px;
  bottom: 30px;
  padding: 6px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 3px;
  border: 1px solid;
  border-color: transparent;
  background-color: #f95c19;
  color: white;
  cursor: pointer;
}
.ispod {
  height: 180px;
  background-color: #2f2e41;
  width: 1446px;
  padding-top: 35px;
}
.badboy {
  margin-left: 93px;
  margin-right: 93px;
  display: flex;
}
.bozo img {
  height: 36px;
  width: 120px;
  margin-bottom: 15px;
}
.bozo p {
  color: #9291a1;
  font-size: 13px;
}
.bigdrip ul {
  list-style: none;
  padding-left: 0px;
}
.bigdrip {
  position: relative;
  left: 400px;
}
.bigdrip h5 {
  margin-bottom: 25px;
  color: white;
  font-size: 15px;
  padding-top: 10px;
}
.bigdrip li {
  margin-bottom: 7px;
  font-size: 14px;
  color: #9291a1;
}
