.main {
  width: 70%;
  height: 200vh;
  background-color: yellow;
}
.box1 {
  height: 120px;
  width: 120px;
  background-color: rgb(219, 128, 9);
  position: relative;
  left: 70px;
  top: 40px;
}
.box2 {
  height: 120px;
  width: 120px;
  background-color: brown;
  position: relative;
  z-index: 10;
  left: 120px;
}
.box3 {
  height: 120px;
  width: 120px;
  background-color: blue;
  position: relative;
  left: 180px;
  bottom: 40px;
}
