* {
  margin: 0px;
  box-sizing: border-box;
}
.main {
  width: 75%;
  height: 700px;
  background-color: rgb(255, 68, 0);
  display: flex;
  margin: 0px auto;
}
.box1 {
  /* flex-shrink: 4; */
  flex-grow: 1;
  width: 150px;
  height: 150px;
  background-color: rgb(214, 232, 24);
}
.box2 {
  /* flex-shrink: 1; */
  flex-grow: 1;
  width: 150px;
  height: 150px;
  background-color: rgb(47, 3, 54);
}
.box3 {
  /* flex-shrink: 1; */
  flex-grow: 1;
  width: 150px;
  height: 150px;
  background-color: rgb(12, 94, 209);
}
/* pomocu flex growa zauzima se celokupna sirina parent kontejnera  */
/* definisanje sirine nekog child elementa bi zapravo predstavljalo minimalnu sirinu tog elementa  */
