body {
    margin: 0px;
}

.card{
    margin: 50px;
    width: 450px;
    height: 400px;
    border: 2px solid rgb(214, 213, 213);
    border-radius: 15px;
    
}

.number-section{
    width: auto;
    height: 200px;
    background-color: rgb(234, 233, 233);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    font-size: 50px;
    text-align: center;
    
}

h3{
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   color: rgb(154, 154, 154);
   

}
 p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
 }

 .text-section{
    padding: 8px;
 }
 .last-section{
    color: rgb(97, 47, 167);
 }