* {
  margin: 0px;
  box-sizing: border-box;
}
.main {
  width: 85%;
  height: 700px;
  background-color: orange;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 5px auto;
}
.box2 {
  width: 150px;
  background-color: blanchedalmond;
  height: 150px;
  order: 1;
}
.box4 {
  width: 150px;
  background-color: rgb(4, 37, 127);
  height: 150px;
  order: 2;
}
.box3 {
  width: 150px;
  background-color: rgb(26, 131, 13);
  height: 150px;
  order: 3;
  overflow: hidden;
}
.box1 {
  width: 150px;
  background-color: rgb(89, 61, 19);
  height: 150px;
  order: 4;
}
.box5 {
  width: 150px;
  background-color: blanchedalmond;
  height: 150px;
  order: 5;
}
/* order je za redjalicu */
/* flex bais je za sirinu od childa ciji je parent flex svojstvo unknown */
