.main {
  height: 1000px;
  width: 500px;
  background-color: aqua;
  margin: 25px auto;
  border: 1px;
  border-radius: 15px;
}
.slika {
  height: 300px;
  width: 500px;
  background-image: url(https://th.bing.com/th/id/R.3915b2259dff487a6a955182a27e73ff?rik=JN69qKbNdKo4lA&riu=http%3a%2f%2fimages.pushsquare.com%2f5b1258676e480%2fassassins-creed-odyssey-assassin-builds.original.jpg&ehk=d0RlZ%2bcn36cUMdiGlGYEXFEpS%2b8fZoWTalYJF9hqF4s%3d&risl=&pid=ImgRaw&r=0);
  background-size: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.slika:hover {
  transition: 4s ease;
  background-image: url(https://images2.alphacoders.com/104/thumb-1920-1040898.jpg);
}

h3 {
  text-align: center;
}
input {
  text-align: center;
  margin: 15px auto;
}
p {
  text-align: justify;
  padding-left: 10px;
}
